@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --primary-color: #121212;
    --secondary-color: #006729;
    --accent1-color: #253222;
    --accent2-color: #FEFEFF;

    --heading-font: '____', outfit;
    --paragraph-font: '____', outfit;

    --nav-background-color: #FEFEFF;
    --nav-link-color: #0D0E44;
    --nav-hover-link-color: #0D0E44;
    --nav-hover-background-color: #253222;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    font-size: 20px;
    font-family: var(--heading-font);
    padding: 60px;
    text-decoration: none;
}

div.hero {
    position: relative;
    align-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    display: block;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 0px 10px 0px;
}

.hero article {
    background: rgba(16, 23, 15, 0.8);
    position: absolute;
    left: 80px;
    width: 800px;
    display: block;
    top: 180px;
}

.hero article img {
    width:200px;
    float: right;
    padding: 10px;
}

.hero article p {
    padding: 55px 10px;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font); 
}

input[type='text']{
    padding-left: 10px;
}

.img{
    height: 100px;
}

.images_5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    padding: 3px;
    text-align: center;
}

nav.sociallinks a {
    text-decoration: none;
    padding: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--nav-hover-background-color);
    padding-top: 25px;
    margin-top: 20px;
}

body {
    width: 960px;
}

.wireframe_logo1 img{
    height: 80px;
    padding-right: 160px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}

.contact{
    text-align: center;
}

.contact_pg_h1{
    padding-top: 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.company_contact_info{
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.map iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #253222;
}

nav.sociallinks a {
    text-decoration: none;
}

body {
    width: 960px;
}

.employee{
    display: flex;
    justify-content: center;
}

.e img{
    height: 283px;
    flex: 40%;
    padding: 5px;
}

.contact_field{
    display: block;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    width: 600px;
    height: 615px;
    background-color: #c4c4c5;
    margin-left: auto;
    margin-right: auto;
}
    
.q1{
    padding: 10px;
}

.q{
    padding: 10px;
}
input[type=radio]{
    width: 15px;
    height: 15px;
} 
input[type=checkbox]{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
input[type=text]{
    width: 200px;
    height: 30px;
    border-color: #000000;
}

.qtext label{
    display: block;
    padding-bottom: 4px;
    padding-top: 20px;
}
.submit{
    float: right;
}

button{
    padding: 15px;
    border-color: #000000;
}

label{
    font-family: var(--paragraph-font);
}

.radio_title{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

legend{
    font-family: var(--paragraph-font);
}





.trip_title{
    text-align: center;
    font-size: 50px;
    background-color: var(--accent1-color);
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 300;
}

.three_day_trip{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.three_day_trip img{
    height: 300px;    
}

.txt_box_p_one{
    width: 300px;
    margin-bottom: 40px;
}

.one_day_trip{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
}

.one_day_trip img{
    height: 250px; 
}

.p_extra{
    width: 80px;
}

.txt_box_p_two{
    width: 300px;
    margin-bottom: 40px;
}

.one-three_hour_trip{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.one-three_hour_trip img{
     width: 450px;
}

.txt_box_p_three{
    width: 300px;
    margin-bottom: 40px;
}

.txt_detail_trips{
    display: flex;
    justify-content: space-around;
    background-color: var(--accent1-color);
}

.contact_link_action{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family: var(--heading-font);
    font-size: 20px;
}

.txt_three_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_one_title{
    padding-right: 60px;
    padding-bottom: 0px;
}

.txt_three_details .p_one_txt{
    width: 300px;
}




.home_trip_link{
    display: grid;
    place-items: center;
    padding: 20px;
}

.home_img{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.home_img img{
    width: 100%;
}

.home_description{
    display: grid;
    place-items: center;
}

.newsletter_home_form{
    display: grid;
    background-color: #c4c4c5;
    padding: 20px;
    gap: 10px;
}

.newsletter_home_question{
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

.newsletter_home_question label{
    text-align: right;
}

.newsletter_home_question .checkbox_label {
    text-align: left;
}

.newsletter_home_submit{
    display: flex;
    justify-content: flex-end;
}
