@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --primary-color: #0D0E44;
    --secondary-color: #006729;
    --accent1-color: #A2A1C1;
    --accent2-color: #FEFEFF;

    --heading-font: '____', outfit;
    --paragraph-font: '____', outfit;

    --nav-background-color: #FEFEFF;
    --nav-link-color: #0D0E44;
    --nav-hover-link-color: #0D0E44;
    --nav-hover-background-color: #A2A1C1;
}

header {
    display: grid;
    grid-template-columns: 100px, auto;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    font-size: 20px;
    font-family: var(--heading-font);
}

div.hero {
    position: relative;
    align-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    display: block;
    text-align: center;
    background: rgba(0, 103, 41, .8);
    padding: 10px 0px 10px 0px;
}

.hero article {
    background: rgba(162, 161, 193, .8);
    position: absolute;
    left: 80px;
    width: 800px;
    display: block;
    top: 180px;
}

.hero article img {
    width:200px;
    float: right;
    padding: 10px;
}

.hero article p {
    padding: 0px 10px;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font); 
}

.img{
    height: 100px;
}

.images_5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    padding: 3px;
    text-align: center;
}

nav.sociallinks a {
    text-decoration: none;
    padding: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--nav-hover-background-color);
    padding-top: 25px;
    margin-top: 20px;
}

body {
    width: 960px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}

.contact{
    text-align: center;
}

.contact_pg_h1{
    padding-top: 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.company_contact_info{
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.map iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #000000;
}

nav.sociallinks a {
    text-decoration: none;
}

body {
    width: 960px;
}

.employee{
    display: flex;
    justify-content: center;
}

.e img{
    height: 283px;
    flex: 40%;
    padding: 5px;
}

.contact_field{
    display: block;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    width: 600px;
    height: 615px;
    background-color: #c4c4c5;
    margin-left: auto;
    margin-right: auto;
}
    
.q1{
    padding: 10px;
}

.q{
    padding: 10px;
}
input[type=radio]{
    width: 15px;
    height: 15px;
} 
input[type=checkbox]{
    height: 20px;
    width: 20px;
}
input[type=text]{
    width: 200px;
    height: 30px;
    border-color: #000000;
}

.qtext label{
    display: block;
    padding-bottom: 4px;
    padding-top: 20px;
}
.submit{
    float: right;
}

button{
    padding: 15px;
    border-color: #000000;
}

label{
    font-family: var(--paragraph-font);
}

.radio_title{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

legend{
    font-family: var(--paragraph-font);
}